{{> header titulo="Página de servicios"}}
    
    <p class="lead">
        {{#if estado}}
            {{servicio}}
        {{else}}    
            {{estado}}
        {{/if}}
    </p>

{{> footer year="2021" }}